* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    width: 100vw;
    padding-bottom: 50px;
}

header {
    padding: 52px 0;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #E5E7EB;
    background-color: #F8FAFC;
}

.description {
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.description h1 {
    font-weight: 700;
    font-size: 2rem;
    color: #121826;
    margin-bottom: 12px;
}

.description p {
    font-weight: 400;
    font-size: 1rem;
    color: #4D5562;
}

header img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

main {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th {
    padding-top: 24px;
    padding-bottom: 46px;
}

.plan {
    color: #263FA9;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 12px;
}

th h2 {
    font-weight: 600;
    font-size: 4rem;
    color: #121826;
    margin-bottom: 6px;
}

th p {
    font-weight: 400;
    font-size: 1rem;
    color: #4D5562;
}

col {
    max-width: 230px;
    width: 20%;
    min-width: 210px;
}

tr th:first-child {
    background-color: #FFFFFF;
}

colgroup col:first-child {
    background-color: #E5E7EB;
}

tr td {
    text-align: center;
    color: #121826;
    font-weight: 400;
    font-size: 1rem;
    padding: 16px 0;
}

tr td:first-child {
    text-align: start;
    font-weight: 600;
    padding-left: 12px;
}

#popular-column {
    background-color: #121826;
}

#popular {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.popular-selection,
#popular > h2,
#popular p{
    color: #FFFFFF;
}

#popular .plan {
    display: inline-block;
    background-color: #263FA9;
    border-radius: 20px;
    margin: 0 auto;
    padding: 2px 15px;
}

tbody tr td {
    border-bottom: 1px solid #4D556233;
}

#button td {
    padding: 24px 0;
}

button {
    margin: 0 auto;
    background-color: #FFFFFF;
    border: none;
    color: #263FA9;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-popular{
    background-color: #7C4F1E;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#btn-4 {
    background-color: #7C4F1E;
    color: #FFFFFF;
}

#button td:first-child {
    background-color: #FFFFFF;
}

main tr:last-child td {
    border-bottom: none;
}

tbody tr:first-child td:first-child{
    border-top-left-radius: 10px;
}

tbody tr:nth-child(8) td:first-child {
    border-bottom-left-radius: 10px;
}

@media (max-width: 1279px) {
    col {
        width: 25%;
    }
    .hid-1 {
        display: none;
    }
}

@media (max-width: 1023px) {
    col {
        width: 33.33%;
    }
    .hid-2 {
        display: none;
    }
}
